{block content}
<h1 n:block=title>Library</h1>

<table class="table">
	<thead>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Year</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr n:foreach="$books as $book">
		<td>{$book->id}</td>
		<td>{$book->title}</td>
		<td>{$book->year}</td>
		<td></td>
	</tr>
	</tbody>
</table>

<hr>

{control addBook}
