{block content}
<h1 n:block=title>Library</h1>

<table class="table">
	<thead>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Year</th>
		<th>Authors</th>
	</tr>
	</thead>
	<tbody>
	<tr n:foreach="$books as $book">
		<td>{$book->id}</td>
		<td>{$book->title}</td>
		<td>{$book->year}</td>
		<td>
			<ul n:inner-foreach="$book->authors as $author">
				<li>{$author->name}</li>
			</ul>
		</td>
	</tr>
	</tbody>
</table>

<hr>

{control addBook}

<hr>

{control addAuthor}
