extensions:
	nextras.dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension


parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


nextras.dbal:
#	driver: pgsql
	driver: mysqli
	host: localhost
	username: root
	password: root
	database: orm_training


nextras.orm:
	model: App\Model\Model


services:
	router: App\RouterFactory::createRouter
